/* general settings */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

.marginauto1 {
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.floatright {
    float: right;
}

/* HEADER */



/* NAV */

nav {
    height: 90px;
    /* DEBUG */
}

.clnav1, .clnav2, .clnav3, .clnav4, .clnav5, .clnav6, .clnav7, .clnav8 {
    line-height: 90px;
    font-weight: 900;
}

.clnav2>a, .clnav3>a, .clnav4>a, .clnav5>a, .clnav6>a, .clnav7>a, .clnav8>a {
    vertical-align: middle;
} 

.clnav2>a, .clnav3>a, .clnav4>a, .clnav6>a, .clnav7>a, .clnav8>a {
    color: black;
}

.clnav5>a {
    color: #fff;
    padding: 7px 20px 7px 20px;
    background-color: #0061ff;
}

.clnav1>img {
    vertical-align: middle;
}


.clnav1, .clnav2, .clnav3, .clnav4 {
    float: left;
    padding-right: 40px;
}


.clnav5, .clnav6, .clnav7, .clnav8 {
    float: right;
    padding-left: 40px;
}

.clnav1 {
    margin-left: 20px;
}

.clnav5 {
    margin-right: 20px;
}

/* JUMBOTRON */

.jumbotron {
    padding-top: 100px;
    background-color: #b4d0e7;
    height: 795px;
}

.marginauto1>h1 {
    font-size: 85px;
    font-weight: 700;
}

.jumbocl1, .jumbocl2 {
    padding-top: 50px;
}

.jumbocl1 {
    float: left;
    width: 30%;
}

.jumbocl2 {
    float: right;
    width: 70%;
    padding-left: 80px;
}

.jumbocl2>img {
    width: 100%;
}

.jumbocl1>p {
    font-weight: 700;
    font-size: 20px;
}

.buttonclassic {
    margin-top: 50px;
    margin-bottom: 30px;
}


.buttonclassic>a {
    background-color: #0061ff;
    color: #fff;
    padding: 10px 17px 10px 17px;
    font-weight: 900;
}

.jumbocl1>h4 {
    margin-bottom: 60px;
}

.jumbocl1>.uno {
    font-size: 50px;
}


/* MAIN */

/* SECTION 1 */

.marginauto70 {
    width: 70%;
    margin: 200px auto;
}

#titlesection1 {
    font-size: 40px;
    font-weight: 900;
}

.containersection1>input {
    margin-top: 60px;
    margin-bottom: 40px;
    padding-right: 50px;
    width: 20px;
}

.inputtext {
    padding-right: 20px;
    font-size: 20px;
}

/* FLOAT SECTION 1 RULES */

.column1, .column2, .column3 {
    float: left;
    width: calc(100% / 3);
    background-color: #fff;
    height: 1281px;
    
}

.column1 {
    padding-right: 50px;
}



.column2 {
    padding-left: 25px;
    padding-right: 25px;
}

.column3 {
    padding-left: 50px;
}

.row {
    border: 2px solid #d0d0d3;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

/*  FLOAT ELEMENT RULES GENERAL FOR ALL  */

.mainfloatsection {
    border-left: 2px solid #d0d0d3;
    border-right: 2px solid #d0d0d3;
    border-bottom: 2px solid #d0d0d3;
    height: 1100px;
}

.marginauto90 {
    width: 90%;
    margin: auto;
}

.maintitltesection>h3 {
    padding-top: 50px;
    font-size: 25px ;
    font-weight: 900;
}

.price {
    padding-top: 15px;
    font-size: 17px ;
    font-weight: 900;
}

.month {
    color: #667683;
    padding-top: 15px;
    margin-bottom: 50px;
}

.maininfosection {
    margin-bottom: 50px;
}

.listsection1 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.buttonmain {
    color: #fff;
    font-weight: 900;
    margin-bottom: 40px;  
}

.buttoncontainer {
    margin-bottom: 50px;
    text-align: center;
    background-color: #0061ff;
    padding: 10px 0 10px 0;
}

.acquistaora {
    color: #0061ff;
}

.miniseparator {
    border-top: 1px solid #d0d0d3;
    width: 100px;
    height: 50px;
    margin-top: 50px;
}

.ticksection {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 900;
}

.ticksection>span {
    font-size: 20px;
    color: #0061ff;
    font-weight: 900;
}

.fontweight {
    font-weight: 900;
}

/* PARTE ORRIZONTALE SECTION1 */

.conteinermargin {
    border-left: 2px solid #d0d0d3;
    border-right: 2px solid #d0d0d3;
    border-bottom: 2px solid #d0d0d3;
}

.horizonatal-section1 {
    padding-top: 50px;
}

.horizonatal-section1>a {
    padding: 10px 80px 10px 80px;
    background-color: #0061ff;
    margin-top: 20px;
    color: #fff;
}

.horizonatal-section1>h1 {
    font-size: 35px;
}

.horizonatal-section1>h5 {
    padding-bottom: 40px;
}

.titlemargin {
    margin-top: 20px;
    margin-bottom: 40px;
}
